<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
            <script src="js/test.js"></script>
            </head>
    <body>
       <%= message %>
        <button onclick="sendAjax();">CheckMessage</button>
    </body>
</html>